[2017-12-18 16:07] dev0tion opened #17 "Can't create uninstaller on Windows 7 x64"
From @sigma in Slack:
<img width="431" alt="screen shot 2017-12-18 at 16 57 57" src="https://user-images.githubusercontent.com/10409230/34115425-e2688e5c-e415-11e7-87b6-08dc07b59aca.png">

[2017-12-19 09:58] D3m0nKingx opened #18 "API Wallet Sync Fails"
Requesting sync through swagger fails:

[code]
[code]

[2017-12-19 10:43] D3m0nKingx opened #19 "Transactions not propagating"
![screenshot from 2017-12-19 05-35-25](https://user-images.githubusercontent.com/18432686/34153017-898d121c-e47e-11e7-9a48-ecf1a9627676.png)

I attempted to recombine the full wallet balance, the transaction still in "unconfirmed" status.

I tested this with @Daandamhuis, he sent me some testnet coins, which I received (2.9 and 0.9 TSTRATS) and confirmed (as seen in the screenshot), however when I

[2017-12-19 11:28] Daandamhuis commented on #19
Here it is form my side:
![stratis - wallet - errror](https://user-images.githubusercontent.com/3600611/34155045-1ef6ac9e-e4b8-11e7-9863-68a89cc512e5.png)

[2017-12-19 11:31] Daandamhuis commented on #19
I think this could be related to this:
https://github.com/stratisproject/StratisBitcoinFullNode/issues/952

[2017-12-19 18:47] bokobza commented on #18
Interesting, thanks @D3m0nKingx .

[2017-12-19 19:31] D3m0nKingx commented on #19
Referencing Bug: [#957](https://github.com/stratisproject/StratisBitcoinFullNode/issues/957)

[2017-12-20 07:48] Danny-A opened #20 "StratisD process keeps running after quitting wallet"
After quitting the wallet on OSX High Sierra, the StratisD process keeps running in the background very heavily.

[2017-12-20 14:13] dev0tion commented on #20
Hi @Danny-A, thanks.
We are aware and working on it.

[2017-12-20 14:18] dev0tion opened #21 "Feedback from Slack user @tombo"
[feedback-wallet.pdf](https://github.com/stratisproject/FullNodeUI/files/1575791/feedback-wallet.pdf)

[2018-01-08 16:50] bokobza commented on #19
fixed in https://github.com/stratisproject/StratisBitcoinFullNode/pull/1036

[2018-01-08 16:50] #19 closed

[2018-01-08 16:52] bokobza commented on #20
Duplicate of https://github.com/stratisproject/Breeze/issues/314
Will be fixed together.

[2018-01-08 16:52] #20 closed

[2018-01-08 16:53] bokobza commented on #18
Fixed in https://github.com/stratisproject/StratisBitcoinFullNode/pull/1018

[2018-01-08 16:53] #18 closed

[2018-01-24 13:06] bokobza commented on #17
Tested with Windows 7 x86 ad x64 and it's ok.
I'll check with Sigma if this is still relevant.

[2018-01-24 13:10] bokobza commented on #17
Sigma reports it's not an issue anymore. Closing.

[2018-01-24 13:10] #17 closed

[2018-01-28 19:03] noescape00 opened #24 "Error while sending a transaction"
This happened to me when I was sending a tx that combined a lot of inputs.
Let's say we have 8 peers and propagate the tx to them one by one and on 6th peer it disconnects. The wallet will show an error:
![err](https://user-images.githubusercontent.com/10259355/35485887-b8b3730c-0476-11e8-9f8e-461193ce57f5.png)

But the tx was propagated properly.
Because of this error user might get an Idea that

[2018-01-28 19:45] noescape00 opened #25 "Wallet restore error"
When I try to restore the wallet it says that wallet under that name already exists when in fact there is no wallet.json file in the folder

![err](https://user-images.githubusercontent.com/10259355/35486244-3081b100-047c-11e8-9b7d-04fe6b328e88.png)

If I try to restore wallet under a different name it says:

`Cannot create this wallet as a wallet with the same private key already exists. If you w

[2018-01-28 20:27] D3m0nKingx commented on #25
@noescape00 be aware the FullNode Submodule isn't updated either. I just ran it independently from the UI, and it has the issue you and I had determined was causing a problem with peer threads usage delay on [#1058](https://github.com/stratisproject/StratisBitcoinFullNode/pull/1058)

[2018-01-28 20:29] noescape00 commented on #25
@D3m0nKingx yeah, I know. I think this is UI problem and this error should not be spawned.

[2018-01-28 20:38] D3m0nKingx commented on #25
Try running the UI in development mode, so you can use the Developer Tools ( Ctrl+shift I )

[2018-01-28 20:49] D3m0nKingx commented on #25
I just attempted the restore, Doesn't work at all for me, cause the Stratis Daemon isn't responding, and Swagger doesn't even load in the browser.

[2018-01-28 20:57] D3m0nKingx commented on #25
I see in the console:

Referrer Policy:no-referrer-when-downgrade

![screenshot from 2018-01-28 15-56-24](https://user-images.githubusercontent.com/18432686/35486966-efde2684-0443-11e8-8d42-d4428956832c.png)

[2018-01-30 10:48] noescape00 opened #26 "Node daemon occasionally stays after Stratis Wallet is closed"
![err](https://user-images.githubusercontent.com/10259355/35562312-0619de12-05c4-11e8-86f2-ab760131f677.png)

[2018-01-30 10:49] bokobza commented on #26
Duplicate of https://github.com/stratisproject/Breeze/issues/314
I'm actually working on this as we speak 😆

[2018-01-30 10:50] #26 closed

[2018-01-30 10:52] noescape00 commented on #26
Oh, didn't know.
Awesome, @bokobza!

[2018-01-30 10:53] bokobza commented on #25
@D3m0nKingx @noescape00 The Full node now has 38221 as the port for Stratis Testnet.
So if you run the FN along with the non-updated FullNode.UI, it won't work.
Please wait for @dev0tion to update it or change all instances of 37221 to 38221 in the FullNode.UI front end code.

[2018-01-30 11:00] dev0tion commented on #25
It's ok for me if you want to update the submodule @bokobza?
Then I will make adjustments to the UI.

[2018-01-30 16:06] bokobza commented on #25
ok!

[2018-03-07 19:32] bep42 commented on #21
Did we not checked the feedbacks already?

[2018-03-14 23:05] noescape00 opened #34 "Wallet is loaded but "No wallet could be found" error is shown"
Sometimes when I open the wallet, type the password and hit enter I'd get this error. After pressing "ok" I'd go to the main screen and everything is normal.

On this screenshot you can see wallet loaded in the background and an error message on the foreground.

![err](https://user-images.githubusercontent.com/10259355/37435646-26e8f49a-27f5-11e8-8a6a-adf4fde88519.png)

[2018-03-21 16:55] maciejzaleski opened #37 "The user is always asked for the same 3 memorable words 4, 8 and 12 when creating the wallet"
When creating wallet the user is always asked for the same 3 memorable words (i.e. 4, 8 and 12)

[2018-03-21 16:56] maciejzaleski opened #38 "Calendar control doesn't render correctly for the date picker when restoring the wallet"
The calendar date picker doesn't have a background which makes the days difficult to read.
Platform: Windows 10

[2018-03-21 16:56] maciejzaleski opened #39 "Incorrect error message when sending large STRAT amount"
When the amount is set to 100000000000 the error message shown incorrectly refers to bitcoin where it should say strat "Impossible to parse the string in a bitcoin amount"

[2018-03-21 17:54] maciejzaleski opened #40 "Staking password is not cleared when stopping staking"
When pressing "Stop Staking" in the UI the password box is not cleared allowing user to start staking again without entering a password.

[2018-03-27 10:07] maciejzaleski opened #44 "Wallet allows to spend not matured/recently staked coins"
Wallet will allow user to spend coins before they are mature.
Such transaction will not be accepted by accepted into the mempool.

[2018-03-27 10:09] maciejzaleski opened #45 "Wallet is not notified if the transaction cannot be fulfilled"
When attempting to spend not matured/recently staked coins the transaction is not accepted to the memory pool and the wallet is not notified of this.

As a result the wallet shows that the transaction has been sent and is pending confirmation wheres in fact the transaction was never shared across the network.

[2018-03-27 10:30] dev0tion commented on #39
@bokobza this error message comes from the backend, can you change it so it displays the current active coin? Cheers.

[2018-03-27 10:30] dev0tion commented on #34
Hey @noescape00, any steps to reproduce this?
I'm unable to reproduce it.

[2018-03-27 10:31] dev0tion commented on #25
Fixed with the submodule update a while ago

[2018-03-27 10:31] #25 closed

[2018-03-27 10:31] dev0tion commented on #24
@bokobza is this still an issue with the current submodule?

[2018-03-27 10:32] dev0tion commented on #37
Correct, adding random words is on the to do list. Leaving this issue open until it's done.

[2018-03-27 10:39] dev0tion commented on #38
Hey @maciejzaleski, is this using the production executable or npm start?
It's rendering OK here. Have you checked with the latest code?

![image](https://user-images.githubusercontent.com/10409230/37962584-e22e3ba0-31bb-11e8-92c4-d7b9d1d5a86b.png)

[2018-03-27 10:53] noescape00 commented on #34
No, I was getting this error pretty much randomly, not sure how to reproduce it.

[2018-03-27 10:54] dev0tion commented on #40
Good catch. Fixed in #46.

[2018-03-27 10:54] #40 closed

[2018-03-27 10:55] maciejzaleski commented on #38
The problem is only present in my set-up and will not be a problem in the released version.

[2018-03-27 10:55] #38 closed

[2018-03-27 10:59] noescape00 commented on #24
I think it's not an issue anymore.

This error is being thrown from NetworkPeer.SendMessageAsync and it looks like now in the BroadcasterManagerBase there is a try catch block which prevents this from stopping the propagation foreach:

[code]

[2018-03-27 11:08] dev0tion commented on #24
Thanks @noescape00
Closing for now.

[2018-03-27 11:08] #24 closed

[2018-03-28 04:11] maciejzaleski opened #50 "Misleading amount shown on transaction detail"
When viewing sent transaction details in Transaction History the amount shown is the total amount for the transaction (intended payment amount + fees).

As the fee is shown in a field below the amount I would expect to have the amount field show only the payment amount excluding fees.

Additionally we could show total transaction amount as yet another field.

[2018-03-28 09:48] maciejzaleski opened #51 "Transaction can be sent before the fees are calculated"
It became apparent when sending transactions with a wallet with many UTXOs that the **Send** button is enabled while the fees are being calculated.
This won't matter in majority of the cases as the processing time is sub second.

When creating a transaction which combines many UTXOs (in range of thousands) the sequence of events is as follows:
 - User enters amount
 - User enters address - at this

[2018-03-28 15:27] majikandy opened #54 "multiple accounts shown combined in history but not in balance"
Multiple Accounts not yet supported by the UI....  but there is an inconsistency.

UI only showing "account 0"

but with a wallet with "account 1" with transactions, the balance is shown for "account 0" but the history appears to show all transactions, including those that were made on "account 1"

If the UI is only going to support account 0 then perhaps the history of other accounts shouldn't be

[2018-03-28 15:34] majikandy opened #55 "Send transaction showing unconfirmed even when many confirmations"
Sent transaction via the wallet UI on mainnet

checked the transaction on chainz and it has 30+ confirmations

Yet it still shows as Yellow in the icon and the "unconfirmed" when clicking through to view detail.

Even re-decrypting the wallet (via View-> Reload) and it still shows as unconfirmed

[2018-03-29 06:58] maciejzaleski commented on #55
I have observed similar behaviour but thought is is related to the fact that I'm using large wallet (over 2000 thousand transactions).

Now I'm thinking that this is a very recent regression issue.

[2018-03-29 08:42] ferdeen commented on #55
Hi,  I had the same problem two days ago.  @bokobza took a look and I sent him my wallet to investigate further.

[2018-03-29 11:13] bep42 commented on #21
to my side, we can close this issue

[2018-03-29 15:07] bokobza commented on #39
on it.

[2018-03-30 09:32] dev0tion commented on #21
Yes, we discussed and done these points.

[2018-03-30 09:32] #21 closed

[2018-03-30 10:58] bokobza commented on #54
Leave it here, I'll take care of it soon.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Pieterjan Vanhoof <notifications@github.com>
Sent: Friday, March 30, 2018 12:31:47 PM
To: stratisproject/FullNodeUI
Cc: Jeremy Bokobza; Mention
Subject: Re: [stratisproject/FullNodeUI] multiple accounts shown combined in history but not in balance (#54)

@bokobza<https:

[2018-04-03 10:03] dev0tion commented on #39
Looks like the fix was merged, thanks @bokobza.
I'll leave this open until we've updated the submodule.

[2018-04-04 12:48] dev0tion commented on #55
Hey @bokobza, did u have a chance to look at this yet?

[2018-04-05 09:57] dev0tion commented on #54
Fixed in #58

[2018-04-05 09:57] #54 closed

[2018-04-09 12:08] bep42 commented on #51
Definitely the way we have to display it, yep.

[2018-04-09 14:38] #39 closed

[2018-04-09 14:39] dev0tion commented on #39
Closing cause submodule was updated

[2018-04-09 14:41] dev0tion commented on #51
Send button is disabled on calculcating fees since #61
What do you have in mind for a visual clue @bep42?

[2018-04-11 11:12] noescape00 commented on #34
![untitled](https://user-images.githubusercontent.com/10259355/38613337-4a8ba6a6-3d92-11e8-81b3-6796a19c34b8.png)

It happened to me again on beta

ps
Can't reopen since I don't have rights for this repo

[2018-04-11 12:17] dev0tion commented on #50
Fixed in #63

[2018-04-11 12:17] #50 closed

[2018-04-17 02:23] einewton opened #69 "cannot expand pattern error when compiling for windows"
I am getting an error when trying to compile for windows:
**Command:** npm run package:windows

**Error**: cannot expand pattern "${productName}-v${version}-setup-${os}-${env.arch}.${ext}": env arch is not defined

**npm debug log**:
[code]

[2018-04-17 08:34] bokobza commented on #69
Thanks for reporting that.
The problem is that env.arch is only recognized by Appveyor, which is the service we use to build our Windows packages.
And we need this to be configurable in order to produce 32 and 64-bit compatible packages.
I think we actually need to review these https://github.com/stratisproject/FullNodeUI#build-the-ui-for-production steps, they're a bit too simplistic. A script th

[2018-05-26 19:50] noescape00 opened #71 "Show Consensus.Height in the tooltip"
![diff](https://user-images.githubusercontent.com/10259355/40579731-05f81c90-6137-11e8-9c98-e61e66090560.png)

In some cases knowing what is the latest block number is very useful.
Can we also have this info when mouse is over the syncing icon?

[2018-05-27 10:10] bep42 commented on #71
That’s a fair point! We’ll see what we can do for the next release 👍🏼

[2018-07-25 04:27] imclint21 opened #78 "Full Node Shutdown when closing Stratis Core"
When i close the stratis core wallet the node is shutting down

Application is shutting down...
The CancellationTokenSource has been disposed.

for any reason

on Windows 10

[2018-08-21 15:54] sondreb opened #79 "Update the UI to be compatible with recent wallet API changes"
The full node have modification to the wallet API which requires full node UI to be modified.

Consider taking the PR submitted with this issue into the repo, at the point in time when the git submodule of fullnode daemon is updated.

Task is to add the new passphrase parameter to API call.

Feature suggestion: https://github.com/stratisproject/StratisBitcoinFullNode/issues/1677

[2018-10-10 13:27] clintnetwork opened #84 "A JavaScript error occurred in the main process"
Hello,

I just build stratis core for linux (on archlinux) with the command `npm run package:linux`, i get a Stratis Core-v0.2.0-linux-x64.tar.gz file, that i have uncompressed, and when i launch ./stratis-core, i have this error:
![capture d ecran du 2018-10-10 15-25-27](https://user-images.githubusercontent.com/5221349/46739493-f6aa7500-cca0-11e8-9d93-1397088ed5cd.png)

Thank you

[2018-10-13 00:58] clintm90 commented on #84
@bokobza do you have an idea ?

[2018-10-15 16:16] bokobza commented on #44
Should be fixed in https://github.com/stratisproject/StratisBitcoinFullNode/pull/1760

[2018-10-15 16:21] #78 closed, assigned to nobody

[2018-10-15 19:11] bokobza opened #87 "Re-add tar.gz package for build"
For some reason, the tar.gz package is not created anymore so it needs to be added back.

[2018-10-15 19:27] bokobza opened #88 "Review GitHub Security notice on main repository page"
There is a message notifying us that some packages are known to be vulnerable.
We need to review if those are relevant and take appropriate action.

[2018-10-15 20:00] bokobza opened #89 "Add Advanced Tab (bring over from Breeze)"
Maybe in an advanced tab, show the extPubKey used in account derivation.

[2018-10-15 20:12] bokobza opened #90 "Add remove all transactions and resync wallet button"
This button is useful when the state of the wallet has become uncertain and a resync is needed.

[2018-10-15 20:15] bokobza opened #91 "Add Send to Sidechain modal"
This is the functionality allowing the user to send strats to a sidechain.
It's non-sidechain specific, the only requirement is that a cross-chain transaction is constructed, taking in an OP_RETURN containing the user's address on the sidechain.

Most of the design elements can be taken from https://github.com/stratisproject/StratisCore/pull/72

[2018-10-16 16:47] bokobza commented on #37
That's been done. Closing.

[2018-10-16 16:47] #37 closed

[2018-10-16 16:56] bokobza opened #92 "Single connection shows plural "connections""
We should have `1 connection` showing, rather than "1 connections".

![image](https://user-images.githubusercontent.com/1867877/47033484-d846ec80-d16c-11e8-886b-2356576210a1.png)

[2018-10-16 18:02] bokobza opened #93 "Wallet should time out if the underlying node is unreachable"
If the node is unreachable because it's crashed, the wallet will show the loading sign ad infinitum.
I guess a timeout with an error message would be a welcome addition.

[2018-10-17 09:25] bokobza opened #94 "Coin control"
Need a way to allow users to choose what UTXOs to use in a transaction.

[2018-10-17 09:26] bokobza opened #95 "Adress book "
We need a way to store a bunch of addresses with notes.
This will be useful if payments are made to the same address or to store sidechains multisig addresses for example.

[2018-10-17 09:28] bokobza opened #96 "Pagination for History"
History can contain many items and at the moment we're only returning the 200 latest ones with no way for the user to go beyond.
We need to allow for pagination of history items.

[2018-10-17 09:33] bokobza opened #97 "Message signing/verifying"
Sometimes a user is asked to prove ownership of coins so they can be asked to sign a message with a bitcoin address.
For example, to prove to a vendor that the bitcoin they received are yours.

[2018-10-17 09:34] bokobza opened #98 "Show other amount unit"
The denominations are STRAT, mSTRAT, uSTRAT.

[2018-10-17 09:35] bokobza opened #99 "Accessibility"
Make the wallet accessible for the visually impaired.

[2018-10-17 09:36] bokobza opened #100 "Search history"
Add a way to search through the wallet for a particular transaction or address.

[2018-10-17 09:40] D3m0nKingx commented on #88
There's actually more detailed report if you audit it with `npm audit` within the StratisCore/StratisCore.UI dir:

[code]

[2018-10-17 09:45] bokobza commented on #88
Wow thanks @D3m0nKingx !

[2018-10-17 14:24] bokobza opened #102 "Make the UI feature-driven"
Find a way for enable/disable features as well as choose some design elements according to the node that is running in the background.

[2018-10-18 19:05] dev0tion commented on #34
@noescape00 any way to reproduce this?

[2018-10-18 19:08] dev0tion commented on #79
I'll take this one @bokobza

[2018-10-18 19:11] dev0tion commented on #84
@clintnetwork I think this means the daemon folder could not be found in the package.
Additionally to packaging the UI, you need to build the daemon and add the folder to the package.
Eventually you should have the Stratis.StratisD runable file here:
StratisCore.UI/daemon/Stratis.StratisD

Let me know if that fixed that for you.
You can always have a look at our buildscript build.sh to see what we

[2018-10-18 19:12] dev0tion commented on #87
Is @StratisIain doing this @bokobza?

[2018-10-18 19:13] dev0tion commented on #88
If @herbepau is unavailable I'll take this one @bokobza. Let me know.

[2018-10-18 19:32] clintnetwork commented on #84
Haa yes, thank you @dev0tion, i will try, but the wallet works well without this, i can open the wallet etc

[2018-10-18 19:53] dev0tion commented on #84
It should work fine after clicking away the error message if you had a daemon running manually, correct.

[2018-10-18 20:43] bokobza commented on #84
@dev0tion I think we should try to change the commands under [Build the UI for production](https://github.com/stratisproject/StratisCore#build-the-ui-for-production) to actually build the stuff for production or we should point to our scripts.
Let me try to do the former.

[2018-10-18 20:44] bokobza commented on #88
He's available but there is plenty to do so feel free. Just let him know 👍

[2018-10-18 20:45] bokobza commented on #87
yes he is 📦

[2018-10-18 20:46] bokobza commented on #34
I don't think so. Maybe let's keep it open and monitor it.

[2018-10-19 02:12] D3m0nKingx commented on #84
@clintnetwork Firstly, re-clone the StratisCore github. as it has been renamed from FullNode.
when you build the StratisCore UI, there should be a **daemon** folder within StratisCore.UI  directory.

This will package everything neatly into your resource folder path.

In this case the error you're getting is telling you that it's not finding the daemon executable in the path: StratisCore.UI/app-bu

[2018-10-19 02:31] D3m0nKingx commented on #84
@clintnetwork answering your other question:

### What is asar: (electron-builder option)

- asar = true AsarOptions | Boolean - Whether to package the application’s source code into an archive, using Electron’s archive format.

- Node modules, that must be unpacked, will be detected automatically, you don’t need to explicitly set asarUnpack - please file an issue if this doesn’t work.

- smartUnp

[2018-10-19 05:42] D3m0nKingx commented on #84
![image](https://user-images.githubusercontent.com/18432686/47199564-2a8c3700-d340-11e8-96f5-e0d4651f497b.png)

:100:

[2018-10-19 07:19] bep42 commented on #98
@bokobza We need this only for the sending modal, right ?

[2018-10-19 09:02] bokobza commented on #98
No we need this also when the coins are shown in the dashboard.
I'll send you some designs.

[2018-10-19 11:31] clintnetwork commented on #84
Hello,

Very thank you for your answers, i've understand this yesterday when i've seen StratisFullNode folder but i did not know this command `git clone --recursive`
I will re-git clone and rebuild  with your informations

Thanks

[2018-10-19 12:19] bokobza commented on #92
Closed with https://github.com/stratisproject/StratisCore/pull/107

[2018-10-19 12:19] #92 closed

[2018-10-19 13:05] D3m0nKingx opened #108 "Node.js integration enabled and attempted to load remote content. This exposes users of this app to severe security risks"
![image](https://user-images.githubusercontent.com/18432686/47219597-43ffa400-d37d-11e8-8b45-bf86762806ae.png)

File/code:
/home/demon/coins/StratisCore/StratisCore.UI/node_modules/electron/dist/resources/electron.asar/renderer/init.js:162

[2018-10-19 17:08] dev0tion commented on #84
Great! Closing.

[2018-10-19 17:08] #84 closed

[2018-10-19 17:10] dev0tion commented on #98
Basically you can chose the unit and it will change for the entire wallet @bep42

[2018-10-22 14:19] bokobza commented on #71
Closed with https://github.com/stratisproject/StratisCore/pull/111

[2018-10-22 14:19] #71 closed

[2018-10-22 14:20] bokobza commented on #93
Closed with https://github.com/stratisproject/StratisCore/pull/109

[2018-10-22 14:20] #93 closed

[2018-10-22 16:49] dev0tion commented on #108
Hey @bokobza this is not a bug but expected behavior.
In the production environment the index file gets loaded from dist/index.html, which is seen as loading external content.

[2018-10-22 17:01] bokobza commented on #108
Anything we can do here @dev0tion ?

[2018-10-24 08:50] bep42 commented on #98
According to the chat we had with @bokobza, the solution will be integrated into the settings.

[2018-10-24 15:14] bep42 opened #115 "Modal dialog error displayed 2 times"
Sometimes, when i play with the password to login to my wallet and intentionally put a wrong pass it displays the modal dialog two times in a row.

It appears that's not each time we try it.

[2018-10-26 11:09] bokobza commented on #89
Done in https://github.com/stratisproject/StratisCore/commit/b3a73afd7c2d74cdc4777b9210f84c0805d784db

[2018-10-26 11:09] #89 closed

[2018-10-30 11:35] dev0tion commented on #108
No it's expected behaviour for how we launch the code now @bokobza.
You can close if you want.

[2018-10-31 16:44] bokobza commented on #108
Closing.

[2018-10-31 16:44] #108 closed

[2018-11-01 12:23] #95 closed, assigned to bep42

[2018-11-05 22:04] bokobza commented on #44
I can confirm that this is now resolved.

[2018-11-05 22:04] #44 closed

[2018-11-05 22:06] bokobza commented on #69
The scripts to package the wallets locally can be found under https://github.com/stratisproject/StratisCore/tree/master/Scripts

[2018-11-05 22:06] #69 closed

[2018-11-07 10:39] bokobza opened #127 "Show coldStaking tab when wallet starts in testnet"
ColdStaking is only enabled on testnet for now, so the tab shouldn't show when the wallet is started on stratis mainnet.
However, when a user starts the wallet with the -testnet arg, then the tab should show.

[2018-11-07 11:00] bokobza opened #129 "Add Smart Contracts tab"
A tab is needed to support smart contracts.

[2018-11-07 11:20] bokobza commented on #91
The component can be found here:
https://github.com/stratisproject/StratisCore/tree/sidechains-ui/FullNode.UI/src/app/wallet/send

[2018-11-12 11:17] bokobza commented on #129
That's now done.

[2018-11-12 11:17] #129 closed

[2018-11-12 18:29] #127 closed

[2018-11-12 18:30] #88 closed

[2018-11-13 10:13] bokobza commented on #34
I'm gonna close this.

[2018-11-13 10:13] #34 closed

[2018-11-14 09:55] bokobza opened #136 "Redesign of advanced tab"
@bep42 we need to tidy up the design of the elements in the advanced tab.

[2018-11-14 09:57] dev0tion commented on #115
@bep42 any way to reproduce this?

[2018-11-22 23:51] dev0tion commented on #96
Added in #141, needs design

[2018-11-22 23:52] dev0tion commented on #79
Done in #140 and #142

[2018-11-22 23:52] #79 closed

[2018-11-23 00:11] dev0tion commented on #115
Fixed in #143

[2018-11-23 00:11] #115 closed

[2018-11-23 00:56] dev0tion opened #144 "Routing overhaul"
Check out and refactor routing throughout the entire app

[2018-11-26 08:30] bep42 opened #146 "Improve how we display error message"
When we use a modal dialog box and the action went wrong, it displays another modal dialog over the first one. This is not useful and user friendly by the way.
I suggest to only display like other modal dialog with forms an error message in red under the field.

<img width="1262" alt="capture d ecran 2018-11-26 a 09 25 51" src="https://user-images.githubusercontent.com/6614362/49001749-ec174280-f1

[2018-11-26 08:33] bep42 commented on #146
<img width="1262" alt="capture d ecran 2018-11-26 a 09 32 31" src="https://user-images.githubusercontent.com/6614362/49001885-3ac4dc80-f15e-11e8-9c1a-7b272ad4b910.png">

Please follow this example. The code is ready but we need to use it directly, not after the second modal dialog closed.

[2018-11-27 13:19] dev0tion commented on #136
Done in #147

[2018-11-27 13:19] #136 closed

[2018-11-27 13:20] dev0tion commented on #96
Done

[2018-11-27 13:20] #96 closed

[2018-11-27 17:31] bokobza commented on #90
Done in https://github.com/stratisproject/StratisCore/commit/61f17755e26064a9708c2e6f5db6d098ebc5e19d

[2018-11-27 17:31] #90 closed

[2018-12-03 16:42] dev0tion opened #154 "Disable resync button when wallet is syncing"
Disable resync button when wallet is syncing

[2018-12-03 16:44] dev0tion opened #155 "Various small UI improvements"
Making this list for small points I got from feedback. Not worth separate issues.
- Change word confirmation styling
- Set retry attempts to 40 (two minutes)
- Show current block height in hover
- Add information balloon to passport/passphrase

[2018-12-06 14:03] dev0tion commented on #155
Done in #160

[2018-12-06 14:03] #155 closed

[2018-12-06 14:03] dev0tion commented on #154
Done in #160

[2018-12-06 14:03] #154 closed

[2018-12-10 13:11] clintnetwork opened #163 "Dump Private Keys"
Hello,

I would like to export my private keys, does there has a solution with the full node or other ?

Thank you

[2018-12-13 19:19] dev0tion opened #170 "Show coins awaiting maturity in stake info"

[2018-12-14 11:24] dev0tion opened #171 "Update codebase to Angular 7.0 and latest Electron"

[2018-12-17 11:36] dev0tion commented on #163
Hey @clintnetwork,

Have a look here to see how HD works: https://github.com/bitcoin/bips/blob/master/bip-0032.mediawiki

We won't support anything like this anytime soon I think.

[2018-12-17 11:36] #163 closed

[2018-12-17 11:46] clintnetwork commented on #163
Hello @dev0tion,

Someone explained to me the same thing shortly after I created this issue.

For the wallet you're right, but I think that in the cryptography world, the membership of its private keys is important, maybe you could do a tutorial to extract them with the mnemonic using this by example: https: // iancoleman.io/bip39/ or by adding the features in the full node :)

I really believe th

[2018-12-17 11:52] dev0tion commented on #163
I agree that it would be a nice to have tool, maybe we can make it a community bounty project.

[2018-12-17 11:58] clintnetwork commented on #163
Yep good idea

[2018-12-18 23:20] dev0tion commented on #91
Done in #172

[2018-12-18 23:20] #91 closed

[2018-12-19 08:55] ElvisPresly opened #174 "RAM leak Ubuntu 16.04"
3GB Ram
![screen shot 2018-12-17 at 20 26 46 pm](https://user-images.githubusercontent.com/18265958/50209504-f86d7480-0384-11e9-96a4-518011094eaf.png)

[2018-12-21 20:56] dev0tion opened #181 "Show staking performance"
Show stakes per year/month/day to monitor staking performance

[2018-12-27 17:41] dev0tion opened #184 "MacOS daemon shutdown"
Daemon not shutting down on MacOS.

[2018-12-29 20:48] dev0tion opened #185 "Update from Http to HttpClient"
Http is deprecated since Angular 5. HttpClient should be used instead.

[2018-12-30 16:07] dev0tion opened #186 "Add strong typing to API calls"

[2018-12-30 20:39] dev0tion opened #187 "Use resolvers to get component data before navigation"

[2018-12-31 10:35] #187 closed

[2019-01-09 14:15] dev0tion opened #188 "Clean up application/module structure"

[2019-01-09 17:06] dev0tion opened #189 "Improve error handling"

[2019-01-10 09:53] bep42 opened #191 "Switch to CSS animation for SVG files"
Improve our `SVG` files with `CSS` animation stuff.

[2019-01-10 21:00] dev0tion commented on #189
Done in #190

[2019-01-10 21:00] #189 closed

[2019-01-10 21:00] dev0tion commented on #144
Done in #190

[2019-01-10 21:00] #144 closed

[2019-01-10 21:01] dev0tion commented on #170
Done in #190

[2019-01-10 21:01] #170 closed

[2019-01-10 21:01] dev0tion commented on #171
Done in #190

[2019-01-10 21:01] #171 closed

[2019-01-10 21:02] dev0tion commented on #174
We're currently working on improving the memory usage.
I'm closing this because it belongs in http://github.com/stratisproject/stratisbitcoinfullnode

[2019-01-10 21:02] #174 closed

[2019-01-10 21:02] dev0tion commented on #185
Done in #190

[2019-01-10 21:02] dev0tion commented on #188
Done in #190

[2019-01-10 21:02] #188 closed

[2019-01-10 21:02] #185 closed

[2019-01-23 13:25] dev0tion opened #193 "Allow importing private keys"

[2019-01-23 13:59] bokobza commented on #45
Fixed since commit https://github.com/stratisproject/StratisBitcoinFullNode/commit/57eca2c3.

[2019-01-23 13:59] #45 closed

[2019-01-28 19:42] bep42 commented on #191
it looks like there's no real options to do this....

[2019-02-20 13:22] #191 closed

[2019-02-20 13:22] bep42 commented on #146
@dev0tion is this ok for this issue ? :)

[2019-03-01 14:08] Rowdster opened #200 "In latest preview build, getting the below on launch, ubuntu"
When launching wallet,

![image](https://user-images.githubusercontent.com/575732/53643112-431b3080-3c01-11e9-8c37-654d746e1c18.png)

Full log on launch is here:
[code]

[2019-03-03 09:40] Tibersec23 opened #201 "Staking Breaks Acces To Online Funds And Cannot Transfer Funds Thereafter"
Hey Guys,

I would like to report **a very serious bug** I encountered in using the new Stratis Core 1.0.0 online wallet that has led to my Stratis being "taken hostage" as I cannot do anything with my Stratis anymore.

The following happened:
1) I sent 559 Stratis From the latest available Stratis Qt-wallet to a newly installed Stratis Core 1.0.0 wallet (installed on a different pc ).
2) I unlock

[2019-03-05 06:14] DennisAMenace commented on #201
There is an easy fix for this.

1. Close your wallet
2. Go to: %AppData%\stratisNode\stratis\stratismain\
3. Delete everything except for *.wallet.json files
4. Open your wallet

-Enjoy!

[2019-03-06 05:50] rowandh commented on #201
I think the workaround is even simpler than this.

This issue is caused by a condition where the user logs in to a wallet *before* the wallets have been loaded from disk.

The temporary solution is just to wait a few seconds (~10) after starting StratisCore but before logging in to your wallet.

I'll submit an issue so we can get this fixed in the full node. Hopefully the workaround resolves your

[2019-03-06 05:52] rowandh commented on #200
I believe this is the same as #201. See that issue for a temporary workaround.

[2019-03-06 11:09] dev0tion commented on #201
Where did you download your version from?

[2019-03-06 13:35] Tibersec23 commented on #201
Hey Guys,

Thank you for  friendly support and suggestions.

I followed DennisAMenace - suggestion but it still gave the same error as previously mentioned.

So I closed the Core 1.0.0 - wallet again, reopened it and **waited a couple of minutes** after it had opened. Then and only then did I enter my password to unlock the online wallet (as per RowandH's suggestion) and this seems to have done th

[2019-03-06 13:35] #201 closed

[2019-03-06 13:46] Tibersec23 commented on #201
Hey Guys,

Thank you for friendly support and suggestions.

I followed DennisAMenace - suggestion but it still gave the same error as
previously mentioned.

So I closed the Core 1.0.0 - wallet again, reopened it and waited a couple
of minutes after it had opened.
Then and only then did I enter my password to unlock the online wallet (as
per RowandH's suggestion) and this
seems to have done the tri

[2019-03-06 13:48] Tibersec23 commented on #201
Hey Guys,

Thank you for friendly support and suggestions.

I followed DennisAMenace - suggestion but it still gave the same error as
previously mentioned.

So I closed the Core 1.0.0 - wallet again, reopened it and waited a couple
of minutes after it had opened.
Then and only then did I enter my password to unlock the online wallet (as
per RowandH's suggestion) and this
seems to have done the tri

[2019-03-06 18:49] dev0tion commented on #200
Indeed it is. Closing.

[2019-03-06 18:49] #200 closed

[2019-03-15 04:28] trunghieud opened #214 "IBD: Wallet Sync issue"
I loaded Stratis Core 1.1.0 on a new Win10 miniPC for the very first time. Here is the spec:
Atom x5-Z8350
4GB ram
64GB HD
IBD started around 10PM (PST). I left it running overnight. Woke up this morning and saw the height was only 120,000 or so with 0 connections. I close the app and relaunch. After about 1 minute, more connections and the height started to increase; this was about 7:30 AM (PST).

[2019-03-15 14:28] dev0tion commented on #214
Thanks for the report @trunghieud, I'll look into it.

The DBreeze exception is probably caused by the fact that there was still an instance of the Stratis.StratisD running when restarting at some point, so the new instance could not access the data folder. This exception is unrelated to your node stalling in sleepmode.

We'll keep you posted!

[2019-03-16 16:21] trunghieud commented on #214
Btw, it would be nice improvement to have the logs show in the user’s time zone and not London :)

[2019-03-17 16:54] trunghieud opened #215 "Stratis.StratisD appear as a separate background process"
I saw this issue once two days ago when I was syncing. I left my PC staking and when I came back home (8-9 hrs), Core wasn't running. I check the log and no error came up. I re-launch the app and staked, and went to sleep. When I woke up this morning, I noticed task manager did not have Stratis.StratisD running. Staking is still working fine on the UI and status is normal from localhost:37221/api/

[2019-03-17 17:05] dev0tion commented on #215
Hey @trunghieud, when the daemon is not running, it's impossible for the UI to show any data, so the daemon was probably running.
There's a chance it was separated from the Stratis Core process and was in the list of background processes. Please check that next time this happens and report back to us.

[2019-03-19 00:42] rowandh commented on #215
This feels like it's related to #201. @trunghieud can you please try this:
- Start a new instance of StratisCore and immediately log in and start staking, then check/post the logs here.
- Start a new instance of StratisCore, wait 3-5 mins before logging in. Then log in and start staking and check the logs again.

[2019-03-19 03:59] trunghieud commented on #215
[node.txt](https://github.com/stratisproject/StratisCore/files/2981461/node.txt)

@rowandh attached is the log for both scenario. I noticed that if I immediately login, the error occurred. For the second scenario, I had to "Stop Staking" and then login to start staking; I had to navigate to history for the UI to update. So it seem quickly login and start staking is an issue.

@dev0tion I see three

[2019-03-19 05:16] rowandh commented on #215
@trunghieud thanks for that! The first scenario looks like was I was expecting.

For the second scenario it seems that the database was already in use (maybe the first instance was still shutting down?) so this affected the logging. It seemed to work correctly for you if you waited before logging in?

If possible, could you please grab another log for the second scenario after the node has finishe

[2019-03-19 16:34] trunghieud commented on #215
@rowandh This is what I did:
1) stop staking
2) close app
3) relaunch app and wait 6 minutes
4) login app
5) login to start staking
6) verified Stratis Core and StratisD process not running
7) attached log
[node-shutdown.txt](https://github.com/stratisproject/StratisCore/files/2984453/node-shutdown.txt)

[2019-03-19 23:50] rowandh commented on #215
Thanks @trunghieud, really helpful. That looks like everything started OK! I think this is the same issue as #201. The workaround is to do as you've been doing - wait a few minutes after the wallet is opened before logging in.

[2019-03-20 00:25] trunghieud commented on #215
Now that I am aware of the issue and the workaround, it's not so bad. However, this failed UAT from a UX perspective. My suggestion is allow the user to login their wallet and then disable the "Login to start staking" until the wallet is fully initialize. This is very minor details, but makes Stratis more polish and help with adoption. @dangershony @bokobza

[2019-03-25 21:58] trunghieud opened #218 "scanning QR code add "stratis:" to prefix"
When scanning QR code from Stratis Core 1.1.0, it added "stratis:" to prefix:

![QR_Code](https://user-images.githubusercontent.com/29716420/54956875-5bcfeb00-4f0e-11e9-8191-b2f5e5af1c5a.jpeg)

[2019-04-12 10:35] acetmesis opened #220 "Pop up asking users to confirm they understand the seed words/recovery"
Suggestion from the Discord: a pop up asking the wallet creator to confirm that they have stored the seed words and understand their role in the recovery of the wallet - click to confirm and move on, click to go back to the seed words.

[2019-04-12 10:36] acetmesis commented on #220
May be unnecessary given that it asks you to input some of the words anyway?

[2019-05-01 12:02] martinhoule opened #221 "button -> Open folder"
Should be a good idea to add a open folder for the %appdata%, something like this
![image](https://user-images.githubusercontent.com/16035523/57016293-5d649100-6be7-11e9-851c-257c7d1b66e6.png)

[2019-05-06 01:50] ibitoyei opened #223 "Stratis Core 1.1.1 unable to connect to stratis node"
![Capture](https://user-images.githubusercontent.com/12425747/57203640-b3e81b80-6fa9-11e9-9bd8-245bb850b7b8.JPG)

[2019-05-06 11:40] dev0tion commented on #220
Yes that was our intention with confirming the seed words, however a confirmation box might be helpful as well.
I'm leaving this issue open and I will discuss on adding it. Thanks.

[2019-05-06 11:41] dev0tion commented on #223
Hi,

Did you have any other wallet open? Like Stratis Qt?

[2019-05-06 11:41] dev0tion commented on #221
I agree. Will create a task for this and it will make one of the upcoming releases.
Thanks for the suggestion!

[2019-06-03 03:54] mrtpain commented on #218
This looks intentional but I don't know it's purpose.

[code]

[2019-06-05 13:02] dev0tion commented on #223
I'm closing this due to inactivity. We can most likely solve this issue and it's not a bug.
Please join our Discord and share your issue on the #support channel.
https://discordapp.com/invite/9tDyfZs

[2019-06-05 13:02] #223 closed

[2019-06-05 13:35] dev0tion commented on #218
This is indeed intentional and the first step of implementing a Stratis URI scheme.
More info: https://www.webfx.com/blog/web-design/qr-codes-uri-schemes/

Closing the issue.

[2019-06-05 13:35] #218 closed

[2019-06-18 10:16] realuser opened #239 "Specify datadir in Stratis Core?"
Last time I used Stratis it was the QT wallet and now I understand there is Stratis Core.  With the QT wallet I would run it using the `-datadir` option so I could specify the storage location of the blockchain.  Is there an equivalent option for Stratis Core?

[2019-06-18 11:18] TjadenFroyda commented on #239
Yes - added in #219. Right click the shortcut and add the option to the command outside of the parenthesis. You can add other SFN options this way too.

[2019-06-19 01:08] realuser commented on #239
I'm not sure what you mean by parenthesis as I don't see them somewhere in the shortcut. I right clicked the Stratis Core shortcut that the installer puts on the Windows desktop and went to properties. I changed the `Target` from:
`"C:\Program Files\Stratis Core\Stratis Core.exe"`
to:
`"C:\Program Files\Stratis Core\Stratis Core.exe" -datadir=D:\crypto\stratisdata`

I opened Stratis Core via this

[2019-06-19 01:27] TjadenFroyda commented on #239
Sorry, meant quotes. You have it right.

Have you built from latest master or are you using the last release? This came after the last release.

[2019-06-19 02:31] realuser commented on #239
I'm using the latest release.  Any rough idea of when this change will make it into a release? Month, 6 months, year?

[2019-06-19 02:42] TjadenFroyda commented on #239
No idea about team's release schedule. Soon maybe?

[2019-06-20 11:26] dev0tion commented on #239
A new version of Core can (and probably will) be released together with the Sidechains release (1 July).

[2019-06-24 19:11] #239 closed

[2019-06-24 19:11] dev0tion commented on #221
Added in #242

[2019-06-24 19:11] #221 closed

[2019-07-01 18:35] Neurosploit opened #250 "Tray icon hover for cirrus core shows stratis core"
![image](https://user-images.githubusercontent.com/11396035/60458780-c8f6c900-9c3f-11e9-9db4-cfbaf441a099.png)

[2019-07-09 17:34] pablos91 opened #253 "Let user choose it's own Full Node"
Hi guys, I was wondering if in the next version you'll let to choose your own full node working in the same network?

At this moment I had to fork your project and make own build pointing at my already functioning full node.

Are you planning to do such thing in near future?

Thanks for info!

[2019-07-09 17:51] pablos91 commented on #253
Ok i think it has been poorly documented that you can run Stratis.Core with a parameter `--daemonip` anyways it just waits for the node to initialize ? Even though my node is fully synchronized?

Atm:

[code]

Here's the screenshot when running with  `--daemonip=192.xxx.xxx.xxx`  entered (ip masked for purpose)

![image](https://user-images.githubusercontent.com/1850835/60911207-f3213a00-a282-11e9

[2019-07-09 17:53] pablos91 commented on #253
Ammm, okay guys we cool I think it's because I'm running 3.0.3.0 instead of 3.0.4.0 node. Gonna update when it builds.

[2019-07-09 18:41] pablos91 commented on #253
Ok guys, everything is fine - that's the exact functionality i was looking for.

Please add proper documentation for commandline arguments and we are good.

Thanks!

[2019-07-09 18:41] #253 closed

[2019-07-16 10:02] dev0tion commented on #253
Hey @pablos91, good that you've solved your own issue :). We'll work on adding the appropriate documentation.

[2019-07-20 08:55] dokrates opened #257 "lock balance on certain address"
Dear Stratis team.

Is there a way to do an improvement for future Stratis Core version, which allows you to create a way to lock certain amount of stratis in an address inside Stratis core. So whenever you send coins, it doesn't splits to change addresses from this certain address "locked" ?. It will be very usefull for the masternodes users, specially this times, when we want to send usually fro

[2019-07-20 10:01] D3m0nKingx commented on #257
In other words having the same functionality as the C++ counterpart in masternode coins known as "coin control", which also automatically lock the masternode's collateral inputs from being staked/sent out when selecting coins to transact with.
Example here with ganjacoin (masternode coin):
Where you see "toggle lock state".

There is also a coin setting for the *.conf file that is mnconflock=1 tha

[2019-07-23 16:26] trunghieud opened #258 "Cirrus 1.2.1 - invalid address prompt after 26th character"
When sending cirrus to another cirrus wallet, I enter the destination address. After the 26th character, I keep getting a prompt “invalid address” and I select OK; this would appear repeatedly until the end of the wallet address. After I enter the destination address, I can send successfully.

[2019-07-26 03:49] mrtpain opened #259 "[Suggestion] Confirm Passphrase"
If a passphrase is used when creating a wallet, it's critical to make sure there aren't any typos.

[2019-07-29 14:31] dev0tion commented on #250
Fixed in #256

[2019-07-29 14:31] #250 closed

[2019-07-29 14:33] dev0tion commented on #215
Done in #247

[2019-07-29 14:33] #215 closed

[2019-07-29 14:34] dev0tion commented on #146
Done throughout the entire wallet

[2019-07-29 14:34] #146 closed

[2019-07-29 14:35] dev0tion commented on #184
Fixed

[2019-07-29 14:35] #184 closed

[2019-07-29 14:35] #214 closed

[2019-07-29 14:35] dev0tion commented on #259
Duplicate with #220, agreed though

[2019-07-29 14:35] #259 closed

[2019-07-29 15:13] mrtpain opened #261 "[Suggestion][Discussion] Add Federation Addresses to Wallet"
Several people have brought this up and had to inconveniently look up these addresses several times just to send tokens back and forth.

Lets talk about pros and cons to adding this into Stratis Core as maybe a dropdown or quick select option as these are both maintained by Stratis.

Sidechain Federation Address: `cnYBwudqzHBtGVELyQNUGzviKV4Ym3yiEo`
Mainchain Federation Address: `sg3WNvfWFxLJXXPYs

[2019-07-29 15:14] dev0tion commented on #257
This could be interesting, I've passed it along to the team for them to look at.

[2019-07-29 15:15] dev0tion commented on #261
Agreed, as long as the user has the option to manually input addresses I'm more than ok with this change.

[2019-07-29 15:16] mrtpain commented on #261
Awesome! I'll take care of the PR over the next couple days.

[2019-07-29 15:17] dev0tion commented on #261
Ok, I will have a look at Core documentation to see what is outdated and what we can add (I.E. the federation addresses).

[2019-08-01 01:20] FyreDemonyte opened #262 "Stratis-Core dependency libappindicator1 causing odd behavior"
@dev0tion
Stratis-core v1.2.1 installation by deb package requires a dependency (libappindicator1) in Ubuntu 18.04 for successful installation that causes some odd behavior with system tray icons (making them turn into
![Screenshot from 2019-07-31 21-13-53](https://user-images.githubusercontent.com/18432686/62258369-21082300-b3d8-11e9-8547-6feba21f9fe9.png) (which is like saying the image file for

[2019-08-01 01:30] D3m0nKingx commented on #262
After force removing stratis' dep 'demon@Bionic18:~$ sudo dpkg --auto-deconfigure --force-all -P libappindicator1' The app still initialized and functional.

[2019-08-01 01:40] D3m0nKingx commented on #262
Also another dep it's installing that Ubuntu 18 already has:

[code]
vs. what stratis is requiring:

libindicator7 (16.10.0+18.04.20180321.1-0ubuntu1)

[2019-08-03 11:43] dev0tion commented on #262
You could check if using a later version of electron-builder to package the application works.
Electron-builder will get updated regardless next time I update dependencies.

[2019-08-03 11:57] D3m0nKingx commented on #262
`npm i electron-builder`

updates electron to:

+ electron-builder@20.39.0

Testing package build now with `npm run package:linux`

[2019-08-03 12:22] D3m0nKingx commented on #262
Hmm... updating electron-builder to latest version doesn't fix the dep issue:

seems the dependency target is in this package:

app-builder-lib@20.39.0

**node_modules/app-builder-lib/scheme.json:**
        "description": "Package dependencies. Defaults to `[\"gconf2\", \"gconf-service\", \"libnotify4\", \"libappindicator1\", \"libxtst6\", \"libnss3\"]`."

**node_modules/app-builder-lib/out/option

[2019-08-03 14:33] D3m0nKingx commented on #262
Confirming the changing of those lines fixes the dep issue. So it's up to devs at electron-builder to update their repo to reflect this.

[2019-08-06 20:57] dev0tion commented on #262
I'm going to keep this open so I can check if they have changed it or not.
Thanks @D3m0nKingx.

[2019-08-09 04:41] trunghieud opened #263 "Cirrus and Core wallet display white screen (UI crash?)"
@dev0tion I faintly remember this was an issue with the UI? It has happen twice in the last week. I had to close and re-launched the application. Attached are some screenshots and logs.
Core log show an error:
PeerConnectorAddNode.ConnectAsync                                               Loop           Faulted
      * Fault Reason: Collection was modified; enumeration operation may not execute.

[2019-08-09 10:39] dev0tion commented on #263
Ok interesting, though the error is not relevant to the blank screen issue.
Is there a way you can always reproduce the blank screen?

[2019-08-09 21:47] trunghieud commented on #263
I guess the error is a separate issue. I have not 100% reproduce the issue yet, but I do have a theory/data on how it is occurring. Here is my configuration:

PC-1: Masternode on HDMI 1
PC-2: Core 1.2.0 and Cirrus 1.2.1 on HDMI 2

Some days, I unplugged HDMI on PC-1 and plugged it into my mac to do some research for the rest of the day. In the morning, I plugged HDMI back to PC-1. When I come home

[2019-08-10 20:11] trunghieud commented on #263
So it happened multiple times yesterday. I didn’t even unplug any hdmi cable. It seems to be related to memory usage...... task manager shows memory usage over 90%. I clean up some tabs and application  to lower memory. It hasn’t happened since. Will monitor.

Maybe you guys can reproduce by maxing out your memory usage.

[2019-08-14 19:08] dev0tion commented on #263
Thanks will try that @trunghieud.
FYI: we actually found a bug with the error message you provided. A quick fix has been merged already and the extended fix is being reviewed right now, so thanks again for reporting the issue!

[2019-08-26 16:19] trunghieud opened #266 "Closing Core wallet shows error in log with Stratis.Bitcoin.Builder.FullNodeFeatureExecutor.LogAndAddException"
When I close the wallet, I see this error in the logs:

[2019-08-26 16:18:02.6352 30] ERROR: Stratis.Bitcoin.Builder.FullNodeFeatureExecutor.LogAndAddException An error occurred: 'System.UnauthorizedAccessException: Access to the path 'C:\Program Files\Stratis Core\mempool.dat.new' is denied.
   at System.IO.FileStream.ValidateFileHandle(SafeFileHandle fileHandle)
   at System.IO.FileStream.Create

[2019-09-24 01:04] FyreDemonyte opened #279 "Include Commit Head in versioning"
This is more of a suggestion to follow the commit history easier when users need to troubleshoot issues.

Simply to have the application version to also specify the commit head which it was compiled from, in the same fashion the c++ version does.

For example, today a user clones the repository, compiles it, goes to the about dialogue of the UI, and will see:
![Screenshot from 2019-09-23 20-58-19]

[2019-09-24 01:08] DemonRx opened #280 "GL ERROR :GL_INVALID_OPERATION : glBufferData:"
![Screenshot from 2019-09-23 20-57-15](https://user-images.githubusercontent.com/18432686/65473542-3df42c00-de46-11e9-8c4b-27d090c91b11.png)

[16254:0923/205631.548325:ERROR:buffer_manager.cc(488)] [.DisplayCompositor]GL ERROR :GL_INVALID_OPERATION : glBufferData: <- error from previous GL command

[2019-09-25 18:17] SebasLeal commented on #280
same problem here, i tried electron-forge and the problem disappeared when I used it, i guess could be a version of some package.

[2019-10-02 14:29] FyreDemonyte commented on #262
@dev0tion no response from the devs on  https://github.com/electron-userland/electron-builder/issues/4120 . However seems they're using a bot to close issues that go inactive on their repo. I pinged it to keep it alive.

[2019-10-19 23:45] mrtpain opened #306 "Cirrus hanging after address selection when moving between multiple accounts"
Probably low priority since users likely won't be switching back and forth between wallets.

When logging out and back in between wallets, the UI starts hanging briefly after address selection in Cirrus. Have not verified Stratis side of it.

Looks like a frontend code related lockup, maybe some observables not being handled for unsubs or some other memory leak.

I'll find some time to dig into th

[2019-10-20 00:40] mrtpain opened #307 "Discussion - Increase Default Gas Limit"
In my testing of the Airdrop contract, even the simplest calls required a bit more than 10_000 gas. Most calls were around 10_500. New contracts or expensive calls reached up to about 14_000.

Maybe a new default around 11_000 would be a good start.
15_000 would be a safe bet to allow tokens, contracts, etc. to not run out of gas.

[2019-11-12 20:48] moneyafric opened #335 "Unable To Connect to Stratis Node"
I have been trying to load the wallet to create stratis wallet account but it failed. Look into this now.
![Unable To Connect to Stratis Node](https://user-images.githubusercontent.com/35640233/68709514-1db73280-0596-11ea-8c8f-57b6260498ed.png)

[2019-11-14 13:33] sondreb commented on #193
May I suggest adding support for sweeping first? Adding support for holding a separate list of private keys can be dangerous and users needs to be fully informed and educated on the difference. They also need full instructions on how to take proper backup after importing. If the user fails to take backup of wallet, their imported funds will be lost.

If you create a seed wallet in Electrum today,

[2019-11-21 17:43] ranjancse26 opened #340 "The default balance is always 0"
Please help me to fix the default balance issue. It's always showing up as 0 though the  Block producers hits      : 46 of 46(100.00%)

![image](https://user-images.githubusercontent.com/2565797/69362346-5b157180-0cb4-11ea-9e69-b6918b14cb3c.png)

[2019-11-21 17:53] ranjancse26 commented on #340
I happened to fix the problem :) Here's what I did.

1) Killed the running startis from the task manager
2) Did a full un-install
3) Did a clean install and this time make sure to not select RUN the program by default.
4) In the command prompt, I just navigated to the install directory and then executed the below command and waited for few seconds.

"Cirrus Core (Hackathon Edition).exe" -devtools

[2019-11-26 12:18] dev0tion commented on #335
Were you able to resolve this by now?
If you need support, the quickest way to reach us one-to-one is on Discord.
You can join here: https://discord.gg/jQUgUyF and find us in the #support channel.
Ping me there (@dev0tion)

Closing this issue as this is likely to be resolved after talking to us.

[2019-11-26 12:18] #335 closed

[2019-11-26 12:20] dev0tion commented on #307
@rowandh @codingupastorm

[2019-11-26 12:21] dev0tion commented on #266
This is most likely a SBFN problem.
Pinging @fassadlr @zeptin @maciejzaleski

[2019-11-26 12:22] #263 closed

[2019-11-26 12:35] rowandh commented on #307
Good idea, 10k is the base fee and won't allow you to get anything else done in a contract so we could definitely bump this up. Something around 14-15k I feel would be the sweet spot.

[2019-11-26 13:54] #220 closed

[2019-11-26 15:03] fassadlr commented on #266
@trunghieud Can you confirm whether this happens every time that you shut the wallet down? Are there any instances of StratisD.exe perhaps still running?

Close all of them and then start the wallet and close, is the error still there?

As a last resort just delete that file.

[2019-11-26 15:43] trunghieud commented on #266
@fassadlr I don’t believe this always happen when shutting down the wallet. The file you want to delete is “mempool.dat.new”? I can monitor once I get my wallet up and running. Right now I can’t start it due to an error. I reported the issue in another ticket.

[2019-11-26 17:07] fassadlr commented on #266
Yes just delete the mempool file and start the wallet.

[2019-11-26 17:14] trunghieud commented on #266
Got it. My wallet is working now after peers.json was corrupted. I will
monitor this issue.

On Tue, Nov 26, 2019 at 9:07 AM Francois de la Rouviere <
notifications@github.com> wrote:

[2019-12-02 16:47] AGowans opened #344 "Can't connect to anything"
I updated to 1.31, and it loads for 10 minutes and comes back with "can't connect to a node".

I can't even get the wallet open to do anything, and the localhost rejects any connection attempts via browser since the wallet isn't actually loading.

[2019-12-24 15:38] StratisUser123 commented on #344
I have the same issue.... did you ever get this resolved ?

[2019-12-24 16:00] AGowans commented on #344
No. I have tried on a few machines, Linux and Windows.

Can't get anything to connect, and have not been able to get a response from the Stratis project. See if pinging them here helps...

@sondreb @YakupIpek @Daegalus

[2019-12-24 16:53] FyreDemonyte commented on #344
I'm a linux user, updated to v1.3.1. Compiled and started the node with `npm run package:linux` then entering the **StratisCore.UI/app-builds/linux-unpacked** directory and starting core with `./stratis-core`

This resulted in one connection so far with:

[code]

[2019-12-24 18:51] AGowans commented on #344
I still get the same thing.

Cloned repo, built, ran from directory as instructed .

Shows the loading screen for 4-5 minutes, then I get "Failed to load, can not connect to a stratis node"

[2019-12-24 20:43] FyreDemonyte commented on #344
What are you seeing in the terminal ?

[2019-12-27 13:00] dev0tion commented on #344
@AGowans have you tried shutting down Core, removing peers.json in ~/.stratisnode/Stratis/StratisMain and starting Core again?

[2019-12-27 13:01] #340 closed

[2019-12-27 13:01] dev0tion commented on #307
Hey @rowandh any progress on this? Does the issue need to remain open? Thanks!

[2019-12-27 13:03] dev0tion commented on #280
Did you get this fixed @FyreDemonyte?

[2019-12-27 13:03] #266 closed

[2019-12-27 13:34] FyreDemonyte commented on #280
I went the route of using electron-forge as indicated by @SebasLeal. However I would like more detail as to the steps he went about to have it running properly. As it seems to make a few changes to the project files and providing some other warnings, due to this I'm not sure stratiscore is working as expected like with electron- builder.

However the stratiscore wallet did startup from what I was

[2019-12-30 16:18] dev0tion commented on #306
Hey @mrtpain, there were some observables not being unsubbed, those should be fixed in 2.0.0.0.
I'll leave this open to recheck once Core 2.0.0.0 is out. I expect Cirrus Core 2.0.0.0 to be launched early next year as well.

[2019-12-30 16:20] dev0tion commented on #280
If it's a dependency problem it's probably going to be fixed in Core 2.0.0.0.
Will dive in deeper if it's not fixed then.

[2020-01-15 15:30] dev0tion commented on #344
Seeders updated in Core 2.0.0.0, should no longer be an issue. Closing.

[2020-01-15 15:30] #344 closed

[2020-01-15 15:31] dev0tion commented on #262
Issue has been marked as stale @FyreDemonyte, I'm going to close here as well.

[2020-01-15 15:31] #262 closed

[2020-01-15 15:33] dev0tion commented on #261
Added in 2.0.0.0

[2020-01-15 15:33] #261 closed

[2020-01-16 12:42] dev0tion commented on #279
Added (for the wallet version) in 2.0.0.0

[2020-01-16 12:42] #279 closed

[2020-01-23 17:20] rainbowjaw opened #373 "Secret Words gui bug"
When copying and pasting secret words, they render like the following:

1. word2. word3. word4. word5. etc...

would be nice if the numbers had space after for the next word or if the numbers didn't copy at all.

[2020-01-23 17:21] dev0tion commented on #373
I'll try to sneak this one into 2.0.0.0, thanks.

[2020-02-02 20:18] mrtpain commented on #307
@dev0tion I think this is a UI fix, the default limit shown in current wallet versions is 10_000.

[2020-02-05 08:05] dev0tion opened #378 "Logout does not reset selected page"
If you log out of a wallet and you had another tab selected, it will stay selected even though you navigate to dashboard.

[2020-02-05 08:06] dev0tion commented on #307
I know @mrtpain, I'm just wondering if they have discussed increasing it and if yes, to what value.

[2020-02-05 09:09] rowandh commented on #307
Discussed with @codingupastorm and we agree that 15k is a sensible limit.

[2020-02-07 17:43] dev0tion commented on #373
Added copy button in #379

[2020-02-07 17:43] #373 closed

[2020-02-07 17:43] dev0tion commented on #378
Fixed in #379

[2020-02-07 17:43] #378 closed

[2020-02-07 17:44] dev0tion opened #386 "Send form errors bug"
If you have errors in the send to mainchain form, errors won't correctly show in the send to sidechain form.

[2020-02-07 17:57] #102 closed

[2020-02-07 17:57] #186 closed

[2020-02-11 14:03] dev0tion commented on #386
Fixed in #388

[2020-02-11 14:03] #386 closed

[2020-02-14 15:48] trunghieud opened #399 "Staking info gone from Core 1.4.0"
I check my Core wallet this morning and the staking info has disappear. I have tried going to History and other menu and back, but staking info did not re-appear. I understand we will have Core 2.0 soon so will just report the issue for history.

[2020-02-15 15:21] Yzord commented on #399
Try version 2.0 now

[2020-02-18 06:52] trunghieud opened #403 "feature request: Using Contacts in Destination address when sending in Core 2.0"
I like to request a feature for Core 2.0, but it would be even better if it can be implemented on the mobile wallet. If implemented, this would improve the UX by 10x! I understand you have a Contacts; however, I cannot use the Contacts in the destination address. I propose:

1) Change Label to Name - this is more user friendly and intuitive.
2) Use Name in Destination address - if a users enter a

[2020-02-20 09:40] dev0tion commented on #403
Added to our backlog for features to be added.

[2020-02-20 09:40] dev0tion commented on #399
Closing because no longer relevant

[2020-02-20 09:40] #399 closed

[2020-02-24 15:17] AGowans opened #405 "Seeders updated in Core 2.0.0.0, should no longer be an issue. Closing."
This issue still exists on 2.0.

If you download 2.0 on a Win7 or Win10 machine, simply run the installer, and run the application, you will get the following message:

"Loading Failed - Unable to connect to a Stratis Node"

Seeders updated in Core 2.0.0.0, should no longer be an issue. Closing.

_Originally posted by @dev0tion in https://github.com/stratisproject/StratisCore/issues/344#issuecomme

[2020-03-06 02:29] FyreDemonyte commented on #280
Any updates?

[2020-03-06 09:34] dev0tion commented on #280
Have you tried running Core 2.0 RC1?

[2020-03-06 09:38] dev0tion commented on #405
This is not what you said in #344, you said: "can't connect to a node".
Loading Failed - Unable to connect to a Stratis Node is a different animal. Most likely caused by a corrupt database or wallet file. Close Core, clear out %appdata%/StratisNode and start Core again, recover your wallet and you should be good to go.

If the problem persist, please check %appdata%/StratisNode/stratis/StratisMain

[2020-03-06 11:16] FyreDemonyte commented on #280
Error still present after cloning a new copy of the repo, and running:

`npm i ; npm start`

### Error:
[23695:0306/061058.550127:ERROR:buffer_manager.cc(488)] [.DisplayCompositor]GL ERROR :GL_INVALID_OPERATION : glBufferData: <- error from previous GL command

[2020-03-06 11:41] FyreDemonyte commented on #280
However when I updated electron to v8.0.3, I get this result:

[code]

[2020-03-18 02:05] trunghieud opened #411 "Staking info/ui no longer visible"
I am running Windows Core v1.4.0. Yesterday night, staking was OK. Tonight, I do not see any staking info. Looking at the logs show:

**====== Async loops ======   [Running: 229] [Faulted: 1]
Name                                                                            Type           Health
----------------------------------------------------------------------------------------------------------

[2020-06-05 18:14] oussamazil opened #440 "wallet syncronization"
i have a problem i cant see my ballance because my wallet is not syncronized

[2020-06-21 19:42] programmereddie opened #441 "Orphans in transaction history (Core 2.0.0 RC2)"
Staking in Stratis Core 2.0.0 - RC2 shows orphans as staked in the transaction history.

Restarting core filters the orphans out, but new stakes include orphans again in the transaction history of core.

[2020-06-21 20:12] programmereddie opened #442 "Scrolling through transaction/staking history bugs (Core 2.0.0-RC2)"
1. In a small window scrolling through staking history stutters a little (in full screen it works smooth).

2. In the latest transaction pane (account window of core) opening and closing a transaction detail and then scrolling through the transaction history will automatically open the transaction details again that I closed.

[2020-08-29 05:20] trunghieud opened #444 "UI not updating staking rewards"
There’s a very odd issue going on here but I haven’t been able to identify what happened. This has happened twice so far:

The first time it was about 2 weeks ago or so. I had core RC2 for 1-2 weeks and did not see any rewards at all! I check the staking menu and account. No updates whatsoever. I selected different menu and no change. I ping @dev0tion and he told me to restart. After I restarted,

[2020-08-31 07:57] dev0tion commented on #444
Hi @trunghieud, I'm aware of the issue and I'm testing a fix locally.
When you have this issue next time, can you please try scrolling up and see if the transactions appear?

Cheers.

[2020-08-31 08:45] #440 closed

[2020-08-31 08:45] dev0tion commented on #440
Your best bet is our #support channel on our Discord: https://discord.com/invite/9tDyfZs

[2020-08-31 08:46] #405 closed

[2020-08-31 08:46] dev0tion commented on #405
Closed due to inactivity. Ping me if still an issue.

[2020-08-31 08:49] #411 closed

[2020-09-20 03:01] ialkeilani opened #446 "linux wallet unable to connect to stratis node"
after downloading, installing the stratis core deb package then running it, i'm faced with error message:
"Loading Failed - Unable to connect to Stratis Node."
"If you continue to receive this message after restarting, please have a look at the support section here"

the link to the support section, does not offer any support really.  Would appreciate any helpful debugging tips

[2020-09-22 16:54] dev0tion commented on #446
Hi,

Which version of Linux are you running?

I assume you're trying to run Stratis Core v1.3.1?
Please try v2.0.0.0 RC2: https://github.com/stratisproject/StratisCore/releases/tag/2.0.0.0-RC2

[2020-09-22 18:26] ialkeilani commented on #446
Thanks for looking into this.

I am running ubuntu 20.04.1 LTS
And correct i was running v1.3.1

i unistalled v1.3.1 and installed v2.0.0.0 RC2.  This one crashes as soon as I launch it giving me this error message:
_"The application Stratis Core has closed unexpectedly.
send problem report to the developers?
ExecutablePath
    /opt/Stratis Core/resourses/daemon/Stratis.StratisD
Package
    strati

[2020-09-23 13:25] dev0tion commented on #446
I will have to have a look myself.
I'll get a 20.04 VM in the weekend and test it out, will keep you posted.

[2020-09-25 19:45] enigma158an201 commented on #446
hi,
same issue with both stratis-core v1.3.1 and v2 on ubuntu 20.04.1

![Capture d’écran de 2020-09-25 21-44-28](https://user-images.githubusercontent.com/35665243/94309406-52e32e00-ff78-11ea-9e52-5f7c59c08394.png)

would you advice to run in linux debian or other linux distro?

[2020-09-25 20:00] dev0tion commented on #446
Hi guys, we have just released v2.0.0.0 officially.
I was able to install the .deb on 20.04 and run it.
Can you please try with the official binary?
https://github.com/stratisproject/StratisCore/releases/tag/2.0.0.0

Cheers

[2020-09-25 20:03] dev0tion commented on #442
Hi @programmereddie, this was fixed/changed in the official v2.0.0.0 release.

[2020-09-25 20:03] #442 closed

[2020-09-25 20:04] dev0tion commented on #444
Hi @trunghieud, I was not able to reproduce this after the fix, so it should be a problem of the past with the official v2.0.0.0 binaries.
Please reopen the issue if you still encounter the problem.

[2020-09-25 20:04] #444 closed

[2020-09-25 20:04] dev0tion commented on #441
Hi @programmereddie, this issue should be fixed with the official v2.0.0.0 release.
Please reopen the issue if you still encounter the problem. Thanks.

[2020-09-25 20:04] #441 closed

[2020-09-25 20:05] #307 closed

[2020-09-25 20:20] enigma158an201 commented on #446
hi,
just updated to new official v2
seems there is no crash issue, but i still have to connect my account (login failed)

[2020-09-25 20:42] dev0tion commented on #446
Connect to your account? Login failed? I'm sorry what do you mean?

[2020-09-25 21:29] enigma158an201 commented on #446
it's ok, since i updated stratis full node to last version...

[2020-09-25 21:40] dev0tion commented on #446
@ialkeilani please confirm as well, thanks.

[2020-09-26 00:36] ialkeilani commented on #446
official v2.0.0.0 still won't work

debian package: I get a crash notification, but stratis still continues to run and eventually gives "Loading Failed - Unable to connect to Stratis Node."
![Screenshot from 2020-09-25 20-26-37](https://user-images.githubusercontent.com/6824858/94325870-9fc20700-ff6e-11ea-9311-81495b46bd84.png)

![Screenshot from 2020-09-25 20-35-00](https://user-images.githubuser

[2020-09-26 16:27] dev0tion commented on #446
Can you open terminal and launch stratis-core in there?
You should just be able to type stratis-core and it will launch. The terminal should give you some more information on why the process fails.

[2020-09-27 01:28] ialkeilani commented on #446
That's what I get on terminal:
![Screenshot from 2020-09-26 21-28-00](https://user-images.githubusercontent.com/6824858/94353441-41188e00-003f-11eb-8660-8d181b0d7a79.png)

[2020-09-28 11:08] dev0tion commented on #446
Thanks for the feedback @ialkeilani
Did you alter the version of glibc by any chance?
If not, can you try updating your system and try to run again.
[code]
These can be used to update your OS to the latest and greatest.
Please check the packages that would be updated to see if your other applications can support the newer versions.

[2020-09-28 11:58] dev0tion commented on #446
I have just merged a change that could potentially solve this issue: https://github.com/stratisproject/StratisCore/tree/release/2.0.0.0
You can either build from source or wait until a new version has been released that includes this change.

If you trust the executable that I build, you can find it [https://stratisplatform-my.sharepoint.com/:u:/p/pieterjan_vanhoof/EQU-6iPnYtJHglwW-VPh9ngBw09uh6Vx

[2020-09-28 17:27] ialkeilani commented on #446
thanks for all the help attempts
no i did not alter the glibc.  I'm not sure what the exact package name, but the closest I have on my machine is called "libc".  Its info below.

So i tried deleting the conf directory, that didn't do it.  Then I also tried the system update also no luck.  I will give your one-off build a shot after spinning off a new VM and let you know.  thanks a lot for looking

[2020-09-28 19:09] ialkeilani commented on #446
Just finished testing it on a fresh ubuntu LTS 20.04 VM.  When the app is launched, the one-off produces no errors on command line, but the app eventually gives the same "Loading Failed - Unable to connect to Stratis Node."

[2020-09-28 19:18] dev0tion commented on #446
Is there anything useful in the node.txt file in ~/.stratisnode/Stratis/StratisMain/logs?
You no longer get the crash report, right?

[2020-09-28 21:14] ialkeilani commented on #446
correct no more crashing.
actually i have no logs file in ~/.stratisnode/Stratis/StratisMain/
Similarly, I got no json file.  The only thing in ~/.stratisnode/Stratis/StratisMain is the stratis.conf file.  So i tried moving it outside and re-starting, same "Loading Failed" error

Do you have this working for you on 20.04?  I have a clean fresh install and it's not working, so I'm thinking no body

[2020-10-01 12:29] dev0tion commented on #446
I have this working on 20.04 indeed, but it was an existing VM where I tested some development related stuff on.
Do you have a version of Dotnet Core installed by any chance?

I'll get a 20.04 fresh VM running tonight and test.

[2020-10-01 20:16] ialkeilani commented on #446
no i don't have .net core installed

[2020-10-25 22:36] weetie opened #460 "token swap is not working"
Stratis Core 2.1.1

**Something went wrong**
 Not enough funds to cover the target with missing amount
0.00000110

[2020-10-27 23:59] weetie commented on #460
if it is really impossible to calculate fees you should maybe let the people edit the amount of tokens to swap

[2020-10-27 23:59] weetie commented on #460
and it is not great to be forced to swap if this is not working

[2020-10-28 14:33] dev0tion commented on #460
Hi, please update to v2.2.1 where this issue has been resolved: https://github.com/stratisproject/StratisCore/releases/tag/2.2.1.0

[2020-10-28 15:31] weetie commented on #460
hello dev0tion, I tried Version 2.2.0 before 2.1.1 and this did not work either, due to some "bitcoin" error, but now I could burn my stratis token.

Thank you very much

[2020-10-28 15:31] #460 closed

[2020-11-02 08:42] wcanarro opened #463 "STRATIS CORE 2.2.1 - error trying to connect to the server"
I have just installed the 64 bit version of the stratis core 2.2.1 on windows 10 to perform the strax token swap but when I run the application I keep receiving the error "Unable to connect to Stratis Node"

Best,
Danilo

[2020-11-02 11:02] dev0tion commented on #463
Hi, please check %appdata%/StratisNode/Stratis/StratisMain/Logs/node.txt to see if there are any errors/exception. They would normally be located at the bottom of the file.

[2020-11-03 09:51] wcanarro commented on #463
Hi, sorry I didnt find the path "%appdata%/StratisNode/Stratis/StratisMain/Logs/node.txt"....maybe I should install more application than just the stratis Core.

[2020-11-03 11:00] FyreDemonyte commented on #463
@wcanarro try finding the exact directory:

[code]

username = your username as you log in with into windows.

Also you could do a search a for *node.txt* in the search bar of windows explorer

[2020-11-03 11:14] wcanarro commented on #463
Found!

[node.txt](https://github.com/stratisproject/StratisCore/files/5480825/node.txt)

[2020-11-03 12:55] dev0tion commented on #463
Hi, looks like something went wrong with your database. Please do the following:
- Close Core
- Go to  C:\Users\[username]\AppData\StratisNode\StratisMain\
- Remove everything except the "wallets" folder and [your walletname].wallet.json. The second file might not be there.
- Start Core again

That should get you going again.

[2020-11-03 12:59] wcanarro commented on #463
this is actually the path C:\Users\user\AppData\Roaming\StratisNode\stratis\StratisMain and I don't have the wallets folder neither the .json file.

[2020-11-03 13:00] dev0tion commented on #463
Ok, that's fine, then you can proceed to remove everything.

[2020-11-03 13:02] wcanarro commented on #463
ok, now I have the wallets folder, I think is all ok. Thank you for your support.

[2020-11-03 13:10] dev0tion commented on #463
Ok, if you have any further questions you are welcome to join our Discord and ask them in our #support channel:
https://discord.com/invite/9tDyfZs

[2020-11-03 13:10] #463 closed

[2020-11-04 14:40] wcanarro opened #464 "Trying to restore my old stratis wallet with STRATIS CORE 2.2.1"
HI, I created my wallet back in 2017 when I bought some strats. I would like to restore my old wallet using the latest vesion of the stratis core (2.2.1). I opened the core I clicked restore I put the info of my old wallet and all went well...but the list of addresses is completely wrong and I dont find the address with all the coins I have.

Best,
Danilo

[2020-11-04 15:05] wcanarro commented on #464
Update:
I have installed electrum-stratis 2.7.17 (luckly I still have the exe) and all my adresses and coin are there..what should I do now in order to swap the tokens? Should I send the coins to a new wallet of stratis core .2.2.1 e after swap the coins?

Best,
Danilo

[2020-11-04 16:11] dev0tion commented on #464
Hi Danilo,

Yes but electrum will no longer sync, please check this article written by a community member to see how you can send out your coins:
https://www.publish0x.com/stratis-fans/migrate-from-electrum-wallet-qt-wallet-to-core-wallet-strati-xnlormv

[2020-11-04 16:18] wcanarro commented on #464
so basically i have to send the ELECTRUM WALLET to QT wallet and from QT to Core. right?

[2020-11-04 18:36] wcanarro commented on #464
Statis QT started to sync but it will take days is there a faster way to get the data?
Thank you.

[2020-11-05 07:50] dev0tion commented on #464
Hi, unfortunately we do not provide any bootstraps for Qt.

[2020-11-07 08:13] csh2000 opened #465 "2.2.1 not possible to install"
Hello, W10 Home, x64.

Get this message when trying to install Stratis Core 2.2.1.

Downloaded from web page and github, both.

![Captura](https://user-images.githubusercontent.com/32745411/98436158-6e923600-20d9-11eb-8a21-47301c89b1c9.JPG)

Thanks.

[2020-11-07 11:32] dev0tion commented on #465
Hi, could you try uninstalling the previous version first?

[2020-11-07 11:32] dev0tion commented on #464
Hi @wcanarro were you able to get your funds into Core?

[2020-11-07 13:54] dev0tion commented on #446
Hi all,

I was able to have a decent look into this today. Looks like .NET Core 2.1 does not support the default version of libssl on Ubuntu 20.04.
This will no longer be an issue in the new STRAX wallet, as that is using .NET Core 3.1 which does support that version of libssl.

Anyway, workaround is to open terminal and execute these commands:
`wget http://archive.ubuntu.com/ubuntu/pool/main/o/op

[2020-11-07 16:32] csh2000 commented on #465
Hello, uninstalled previous version, but I am having the same problem

In fact, I was only capable of reinstall 1.4.0, as 2.0.0 and above reproduce same message.

For information, I am having same error when updating today Ark 2.9.4... something to do with a Windows update??

Thanks!

[2020-11-07 18:24] wcanarro commented on #464
Hi the situation is...the QT IS still syncing but I see all my coins, I tried to send 10 strats to core even if the QT wallet is not synced but the transaction is waiting for some confirmation.

[2020-11-09 02:02] ialkeilani commented on #446
thanks really appreciate your help on this.  Unless you would like me to try out the workaround, I will wait till the STRAX wallet is released then

[2020-11-09 09:14] dev0tion commented on #446
Please not that Stratis Core and STRAX are two different blockchains.
You can only use Stratis Core for STRAT and the swap.
STRAX Wallet will be the client used after the swap.

More information can be found here:
https://www.stratisplatform.com/2020/09/25/introducing-strax/
https://www.stratisplatform.com/2020/10/15/strax-token-swap/
https://www.stratisplatform.com/2020/10/19/token-swap-faq/

[2020-11-09 09:14] dev0tion commented on #464
Yes you need to be synced. All good now?

[2020-11-09 09:16] dev0tion commented on #465
It could have... Have you tried again after restarting your computer?

[2020-11-09 11:03] wcanarro commented on #464
HI, 40 weeks to go

[2020-11-09 19:00] ialkeilani commented on #446
I tired version 2.2.1 and I can confirm the workaround of using older version of libssl works!

Thank you!

[2020-11-09 19:00] #446 closed

[2020-11-09 19:00] ialkeilani commented on #446
I tired version 2.2.1 and I can confirm the workaround of using older version of libssl works!

Thank you!

[2020-11-10 16:29] csh2000 commented on #465
Yes, same message.

[2020-11-10 16:36] wcanarro commented on #464
Finally I have my QT synced and the first small transaction fom QT-> Core executed and confirmed...but Stratis Core 2.2.1 doent show the received fund because has 0 connections even if I changed the stratis.conf putting the same ip addresses used by QT

[2020-11-10 16:39] dev0tion commented on #464
You need a different set of IPs for Stratis Core.
Click "node list" next to StratisNode:3.0.8 (70012) here: https://chainz.cryptoid.info/strat/#!network

[2020-11-10 16:39] dev0tion commented on #464
We will be releasing a data directory for Core shortly, if you download that you will be synced instantly. Will keep you posted.

[2020-11-10 16:41] wcanarro commented on #464
yes..is syncing

[2020-11-10 16:50] wcanarro commented on #464
I am looking forward to the data

[2020-11-10 19:54] dev0tion commented on #464
Hi, we have the data directory available here:
https://dev.azure.com/StratisProject/5586408d-7461-4f26-b7b1-bbcac3d0877e/_apis/build/builds/25274/artifacts?artifactName=Data%20Directory%20Archive&api-version=6.0&%24format=zip

You can close Core, then paste it contents into %appdata%/StratisNode/Stratis/StratisMain and start Core again. That should get you close to completely synced instantly.

[2020-11-10 21:14] wcanarro commented on #464
quick update: I downloaded the zip, unzipped, and copied and pasted all content with no exception into the folder %appdata%/StratisNode/Stratis/StratisMain overwriting whatever was there. Launching the app, it keeps loading saying "Connected to the api. waiting for node to initialize". see you tomorrow hoping to resolve the problem and finally swap the token.

best,
Danilo

[2020-11-10 21:47] maartenn commented on #464
I had the same situation and did the same, I also had the feeling it was crashed but this wasn't the case. It just took a few minutes before I could open my new wallet on stratis core. After that I think stratis core redownloaded the whole chain (despite the datadir)... Fortunately this went down pretty fast ~ 8 min.

This was my startup log for core the first time ( after I had previously created

[2020-11-10 21:49] maartenn commented on #465
perhaps using a vm might help here?

[2020-11-11 08:51] wcanarro commented on #464
YEEESSSSSSS....token swap process completed..thank you so much to everyone

[2020-11-11 09:27] dev0tion commented on #464
@maartenn that synchronizing you were seeing was not the chain being downlaoded, rather your wallet rescanning.
Glad that it worked for the both of you guys.

[2020-11-11 09:27] #464 closed

[2020-11-11 13:29] csh2000 commented on #465
Finally run 2.2.1 on a fresh W10, works fine there.

I found other user with same problem and solution on Discord.

Thanks!

[2020-11-11 14:13] dev0tion commented on #465
Considering "Ark 2.9.4" had the same issue, I'm thinking it's a bug in electron-builder, STRAX will be updated to the latest dependencies so should no longer be an issue there.

[2020-11-11 14:13] #465 closed

[2020-11-13 11:37] wcanarro opened #467 "STRAX"
HI, is the new strax mainnet live? Opening the wallet I don't see the tokens and actually the wallet doesn't have connections.

best,
Danilo

[2020-11-13 11:44] #467 closed, assigned to nobody

[2020-11-13 12:10] dev0tion commented on #467
It is yes, have you updated the STRAX Wallet to v1.0.0.0?
https://github.com/stratisproject/StraxUI/releases/tag/1.0.0.0

[2020-11-13 12:25] wcanarro commented on #467
yes thank you I see the coins now.

[2020-11-16 07:53] Jpatten819 opened #468 "Balance not showing"
I sent Strat Tokens to a Stratis Core 2.2.1  wallet, the chain says its confirmed sent, but no balance is there in my wallet. I use a Mac book, and I sent my Strat from an Stratis-QT wallet. Want to move this  to the Strax wallet but cannot proceed. Any info would be greatly appreciated

[2020-11-16 08:41] dev0tion commented on #468
Hi @Jpatten819, I think you want to swap to STRAX right?
In that case you will have to use your Qt wallet as the source for the swap.
The first swap window expired 12 Nov, transactions after that do not count anymore.

Please keep an eye out for an announcement on how to proceed with the second window of the swap.

[2020-11-16 09:02] Jpatten819 commented on #468
Yes I do want to swap, the issue is I sent the Stratis to the core wallet and its no longer in my QT wallet, The block chain says that the Strat sent. How would I use my QT wallet as the source?

[2020-11-16 11:31] dev0tion commented on #468
We are using the UTXO set of the block closest to 12 Nov 9AM GMT as a reference point.
At that point in time, your STRAT was not send to Stratis Core yet, so you will have to use Qt to do the swap.

[2020-11-16 16:31] Jpatten819 commented on #468
Great, thank you for making that clear. Is there a link that I could get explaining how I would do use the QT for a swap? I haven't been able to find any info besides using the Strat core swap function.

[2020-11-16 16:32] dev0tion commented on #468
No, that information has not been released yet. Keep an eye out for our announcements. There will be a blog post on our website with more information.

[2020-11-16 16:48] Jpatten819 commented on #468
Thank you very much!

On Mon, Nov 16, 2020 at 8:32 AM dev0tion <notifications@github.com> wrote:

[2020-12-03 09:24] neyxs opened #476 "No connection"
Hi,

I know many people already wrote about this issue on many topics but the solutions i founded appear to not work.

I sended stratis coins from "stratis-qt"  to "stratis-core", il worked but nothing appears now in stratis-core, no connection.

- I put manually the 3.0.8 nodes IP's.
- i downloaded the "Data Directory Archive" from another topic and pasted the content into the "StratisMain" folde

[2020-12-04 18:23] dev0tion commented on #476
Hi, I suppose you are trying to do the swap?
In that case the data directory sync you to the cut off point, which is all you need.

You need to do the swap method on the wallet your funds were at on 12 November 9 AM GMT.
https://www.stratisplatform.com/2020/11/17/strax-token-swap-process/
The in wallet swap no longer works

[2020-12-07 21:05] neyxs commented on #476
Thanks for the reply.

I did the "StratisX/QT Recovery Process" manipulation as my coins were on this wallet before the 12 November.
I have had a complete .csv file and did the swap, however 24 hours laters i don't still have them on my StraX Wallet (no connection/sync problem with this wallet by the way).

Edit: Finally i got them ! Thanks.

[2020-12-07 21:42] #476 closed, assigned to nobody

[2020-12-24 15:44] trunghieud opened #482 "Typo on Cirrus Core 1.5.0"
A community member reported a typo on Cirrus Core 1.5.0 and I have confirmed it.
![8E70BF85-A22F-4F8B-A1AF-749A7225CBF0](https://user-images.githubusercontent.com/29716420/103097274-a2f38000-45bb-11eb-8b10-869c0e0e2ddb.png)

[2021-01-04 04:33] Zimbakin opened #483 "Stratis.Core-v2.2.1-mac Not Synching"
Core v2.2.1-mac is not synching. Tried quitting and deleting everything except the wallet folder, no success.
Tried adding additional nodes found online... nothing.

My STRAT coins are stuck here. Want to transfer to STRAX, any suggestions?

[2021-01-04 09:08] dev0tion commented on #483
Hi, you just have to get it synchronized to the cut-off point on November 12 then run through the swapping method.
You can download a data directory that gets you synced to 12 November. Have a look at the guide on page 11 step 6:
https://www.stratisplatform.com/wp-content/uploads/2020/11/STRAX-Token-Swap-Manual-Token-Swap-Windows.pdf

If you have any further questions I would recommend you to join

[2021-01-04 09:08] #483 closed, assigned to nobody